body {
    background-color: rgb(147, 170, 192);
    padding: auto;
    margin: auto;
    max-width: 1500px;}

    header { 
        background: #01252e;
        color: aliceblue;
        max-width: 12px auto;
        text-align: center;
    }

    a{
        color: azure;
        font-family: Arial;
        font-size: 16pt;
    
    }

a:hover{
    color: black;
}

h1{
    max-width: 12px auto;
    max-width: 12px auto;
    text-align: center;

}

h2 {
    max-width: 12px auto; 
    max-width: 12px auto;
    text-align: justify;

}

.corpo{

    font-family: Arial;
    color: azure;
    padding: 25px
    

} 

.conteiner {
    display: flex;
    max-width: 400px;
    width: 50px;
    max-height: 400px;
    height: 50px;
    text-align: center;
    transition: 0.35s  ease;
    transform: scale(0.9)translateY(5px);
        cursor: pointer;
        
} 
    





      











